# macOS
.DS_Store

# Python
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Local junk
frontend/index.txt
frontend/index.html.txt

# Env files
.env
.env.*